:root {
  --white-50: #ddd;
  --white-60: #ecf0f1;
  --white-80: #f4f4f4;
  --white-90: #f9f9f9;
  --white-100: #fff;
  --slate-40: #7f8c8d;
  --slate-70: #646464;
  --black-80: #333;
  --darkblue-90: #2c3e50;
  --darkblue-80: #34495e;
  --red: #db3434;
  --hover-1: #2980b9;
  --hover-2: #b92929;
  --hover-3: #424242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--white-80);
  color: var(--black-80);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bold {
  font-weight: 700;
}

header {
  background-color: var(--darkblue-90);
  color: var(--white-60);
  text-align: center;
  padding: 1rem 0;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  color: var(--darkblue-90);
  margin-bottom: 1rem;
}

.bookshelf-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.add-book {
  background-color: var(--white-100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group:nth-child(4) label {
  display: initial;
}

:is([type='text'], input[type='number']) {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--white-50);
  border-radius: 4px;
}

button {
  background-color: var(--darkblue-80);
  color: var(--white-100);
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--hover-1);
  }
}

[data-testid='bookFormSubmitButton'] {
  margin-top: 16px;
}

[data-testid='bookItemDeleteButton'] {
  background-color: var(--red);

  &:hover {
    background-color: var(--hover-2);
  }
}

[data-testid='bookItemEditButton'] {
  background-color: var(--slate-70);

  &:hover {
    background-color: var(--hover-3);
  }
}

.btn-group {
  display: flex;
  align-items: center;
}

:is([data-testid='bookItemDeleteButton'], [data-testid='bookItemEditButton']) {
  display: flex;
  align-items: center;
  gap: 6px;
}

.material-symbols-outlined {
  font-size: 12px;
}

.shelf-wrapper {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.shelf-title {
  background-color: var(--darkblue-80);
  color: var(--white-60);
  padding: 1rem;
  border-radius: 8px 8px 0 0;
}

.books-wrapper {
  background-color: var(--white-100);
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-testid='bookItem'] {
  background-color: var(--white-90);
  border: 1px solid var(--white-50);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

[data-testid='bookItemTitle'] {
  font-size: 1.2rem;
  color: var(--darkblue-90);
  margin-bottom: 0.5rem;
}

:is([data-testid='bookItemAuthor'], [data-testid='bookItemYear']) {
  font-size: 0.9rem;
  color: var(--slate-40);
  margin-bottom: 0.25rem;
}

[data-testid='bookItem'] button {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
}

@media (max-width: 768px) {
  .bookshelf-wrapper {
    grid-template-columns: 1fr;
  }
}
